@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex.scss' as f;

.recommend-list-container {
	.recommend-list-header {
		@include f.flex(row, between, center);
		margin-bottom: 10px;
		padding: 0 10px;

		button {
			color: var.$black-300;
		}
	}

	.recommend-list-body {
		.recipe-list {
			@include f.flex(row, start, center, 14px);

			&.slider-container {
				padding: 0;
			}

			&:first-child {
				padding-left: 10px;
			}
			&:last-child {
				padding-right: 10px;
			}

			li {
				min-width: 100px;

				img {
					width: 100px;
					height: 100px;
					max-height: 100px;
					object-fit: cover;
					margin-bottom: 6px;
					border-radius: 10px;
				}

				.title {
					font-size: var.$p3;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-weight: 400;
				}
			}

			.blank-item-container {
				@include f.flex(column);
				width: 100%;
				max-width: 100%;
				height: 100px;
				border-radius: 10px;
				border: 1px solid var.$border-200;

				.blank-desc {
					color: var.$black-200;
					font-size: var.$p3;
					font-weight: var.$fw-400;
					margin-bottom: 10px;
					text-align: center;
					line-height: 1.5rem;
				}

				a {
					color: var.$white;
					font-size: var.$p1;
					font-weight: var.$fw-400;
					padding: 8px 10px;
					background-color: var.$primary-green-500;
					border-radius: 4px;
				}
			}
		}
	}
}
