spring:
  datasource:
    url: jdbc:mysql://localhost:3306/foody?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        generate_statistics: true

  cache:
    type: redis
    redis:
      time-to-live: 3600 # 데이터 유지 시간
      cache-null-values: false # NUll 캐싱 여부
      host: localhost
      port: 6379
      password: ${REDIS_PASSWORD}

jwt:
  token:
    secret: ${JWT_SECRET_KEY}

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG

recommend:
  server:
    url: ${DATA_URL}
