@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex.scss' as f;

.dayofmeal-goal-box {
	@include f.flex(row, center, center, 10px);

	p {
		font-size: var.$p3;
		font-weight: var.$fw-300;
		color: var.$black-400;
	}
}
