@use 'styles/base/variable' as var;
@use 'styles/mixins/flex.scss' as f;

.my-menu-container {
	background-color: var.$white;
	width: 60vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: -60vw;
	z-index: var.$my-menu-z-index;
	transition: 1s;

	&.open {
		left: 0;
	}
	&.close {
		left: -60vw;
	}

	.btn-close {
		position: absolute;
		top: 10px;
		right: 10px;
		color: var.$black-400;
	}

	.contents-wrap {
		width: 100%;
		height: 100%;
		padding: 30px;
		@include f.flex(column, start, start);

		.greeting-wrap {
			width: 100%;
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid var.$border-300;

			.greeting-hello {
				font-size: var.$h3;
				margin-bottom: 4px;
			}
			.greeting-nickname {
				font-size: var.$h2;
				span {
					font-size: var.$p2;
				}
			}
		}

		.menu-list-container {
			width: 100%;
			padding: 10px;

			.menu-list {
				@include f.flex(column, start, start, 10px);

				.menu-item {
					button {
						@include f.flex(row, start, center, 10px);
						font-size: var.$p0;
						color: var.$border-800;
					}
				}
			}
		}
	}
}

.my-menu-bg {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: var.$my-menu-bg-z-index;
	background-color: var.$black-alpa-50;
	transition: 1.5s;

	&.open {
		display: block;
	}

	&.close {
		display: none;
	}
}
