@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex.scss' as f;

.meal-table {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.meal-data {
		@include f.flex(row, normal, center, 10px);
	}
}
