@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex' as f;

.ingredients-list-item-container {
	height: 100%;
	background-color: var.$white;
	border-radius: 10px;

	button {
		height: 100%;
		padding: 10px 18px;
		@include f.flex(column, center, center, 10px);

		img {
			width: 70%;
		}
		p {
			font-size: var.$p3;
		}
	}
}
