@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex' as f;

.ingredients-list-item-container {
	@include f.flex;
	height: 100%;
	background-color: var.$white;
	border-radius: 10px;

	button {
		height: 100%;
		padding: 14px;
		@include f.flex(column, center, center, 10px);

		img {
			max-width: 50px;
			width: 10vw;
		}
		p {
			font-size: var.$p3;
		}
	}
}
