@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex' as f;

.ingredients-list-item-container {
	@include f.flex;
	height: 100%;
	background-color: var.$white;
	border-radius: 10px;

	button {
		width: 100%;
		min-height: 80px;
		height: 100%;
		padding: 14px;
		@include f.flex(column, center, center, 10px);

		svg {
			color: var.$border-200;
		}

		img {
			max-width: 50px;
			width: 10vw;
		}
		p {
			font-size: var.$p3;
			margin-bottom: 2px;
		}
	}
}
