@use 'styles/base/variable' as var;

.custom-bottom-sheet-container {
	position: relative;
	z-index: var.$custom-bottom-sheet-container-z-index;
}

.sheetcontent-container {
	max-width: 500px;
	width: 100%;
	height: 90%;
	margin: 0 auto;
	padding: 0 20px 20px;
	overflow: auto;
	background-color: var.$white;
	font-size: var.$p2;

	.meal-regist-album-container .layout .floating-layout.floating-bg {
		width: 50%;
	}
}
