@use 'styles/base/variable.scss' as var;

.toggle-switch {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.toggle-switch.checked .slider {
	animation: slide 0.3s forwards;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(60px);
	}
}

.toggle-switch.unchecked .slider {
	animation: slideRight 0.3s forwards;
}

@keyframes slideRight {
	from {
		transform: translateX(60px);
	}
	to {
		transform: translateX(0);
	}
}

.toggle-switch label {
	margin-left: 10px;
}

.switch {
	width: 107px; /* 크기 조정 */
	height: 35px; /* 크기 조정 */
	background-color: white;
	font-size: var.$p1;
	border-radius: 40px; /* 크기 조정 */
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px 9px 2px 10px ;
	color: var.$primary-green-500;
	position: relative;
}

.switch.checked {
	background-color: var.$primary-green-500;
}

.switch.unchecked {
	background-color: var.$primary-orange-500;
}

.slider {
	width: 30px; /* 크기 조정 */
	height: 25px; /* 크기 조정 */
	border-radius: 20px; /* 크기 조정 */
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transition: transform 0.3s;
	cursor: pointer;
}

.slider.unchecked {
	background-color: var.$white;
}

.slider.checked {
	background-color: var.$white;
}

.on-text {
    margin-left: 5px;
}

.off-text {
    margin-right: 5px;
}
.on-text.checked {
	display: block;
	color: var.$white;
}
.off-text.unchecked {
	color: var.$white;
}

.toggle-switch.checked .on-text {
	opacity: 1;
}

.toggle-switch.unchecked .off-text {
	opacity: 1;
}

.toggle-switch.unchecked .on-text,
.toggle-switch.checked .off-text {
	opacity: 0;
}

.toggle-switch.checked .switch {
	background-color: var.$primary-green-500;
}

.toggle-switch.unchecked .switch {
	background-color: var.$primary-orange-500;
}
