@use 'styles/base/variable.scss' as var;

.food-mbti-image-container {
	width: 100%;

	p {
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
		margin-bottom: 20px;
	}

	img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		border-radius: 5px;
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
	}
}
