@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex.scss' as f;

.rdp {
	margin: 0;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
	background-color: var.$primary-green-500;
}

.calendar-box {
	@include f.flex(row, center, end);

	button {
		svg {
			color: var.$black-300;
			margin-bottom: 10px;
		}
	}
}
