@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex.scss' as f;

.recipe-nutrient-container {
	h3 {
		font-weight: var.$fw-600;
		margin-bottom: 10px;
	}

	.nutrient-wrap {
		@include f.flex(column, center, center, 20px);
	}

	.nutrient-bar-desc-wrap {
		font-size: var.$p4;
		color: var.$black-300;

		span {
			padding-left: 10px;

			&:first-child::before,
			&:nth-child(2)::before,
			&:last-child::before {
				content: '';
				display: inline-block;
				width: 8px;
				height: 8px;
				margin-right: 2px;
				border-radius: 10px;
			}
			&:first-child::before {
				background-color: var.$primary-green-500;
			}
			&:nth-child(2)::before {
				background-color: var.$primary-green-alpa-30;
			}
			&:last-child::before {
				background-color: var.$danger;
			}
		}
	}
}
