@use 'styles/base/variable' as var;

.meal-regist-album-container {
	h3 {
		font-weight: var.$fw-600;
		color: var.$primary-green-500;
		margin-bottom: 10px;
	}

	.layout {
		height: calc(100vh - 160px);

		.floating-layout {
			bottom: 0;
		}
	}
}
