@use '../base/variable' as var;

@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	background-color: var.$white;
	font-size: 10px;
	font-weight: normal;
	position: relative;
}

// font
body,
button,
input,
textarea {
	font-family: 'S-CoreDream-3Light';
	font-size: 10px;
	color: var.$black-500;
	line-height: 1;
	font-feature-settings: 'tnum';
	-webkit-tap-highlight-color: transparent; // 눌렀을 때 파란 배경 제거
}

input[type='number'] {
	font-feature-settings: 'tnum';
}

h1 {
	font-size: var.$h1;
}
h2 {
	font-size: var.$h2;
}
h3 {
	font-size: var.$h3;
}
h4 {
	font-size: var.$h4;
	text-wrap: nowrap;
}

.p0 {
	font-size: var.$p0;
}
.p1 {
	font-size: var.$p1;
}
.p2 {
	font-size: var.$p2;
}
.p3 {
	font-size: var.$p3;
}
.p4 {
	font-size: var.$p4;
}

#root {
	max-width: 500px;
	margin: 0 auto;
}

.mb-0 {
	margin-bottom: 0;
}
.mt-0 {
	margin-top: 0;
}
.ml-0 {
	margin-left: 0;
}
.mr-0 {
	margin-right: 0;
}

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}

.mb-10 {
	margin-bottom: 10px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-tabbar {
	margin-bottom: 100px;
}

.m0 {
	margin-left: 0px;
	margin-right: 0px;
}
.m10 {
	margin-left: 10px;
	margin-right: 10px;
}
.m20 {
	margin-left: 20px;
	margin-right: 20px;
}
.m30 {
	margin-left: 30px;
	margin-right: 30px;
}

.p0 {
	padding-left: 0;
	padding-right: 0;
}
.p10 {
	padding-left: 10px;
	padding-right: 10px;
}
.p20 {
	padding-left: 20px;
	padding-right: 20px;
}
.p30 {
	padding-left: 30px;
	padding-right: 30px;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera*/
	}
}

[data-rsbs-backdrop] {
	cursor: default !important;
}
