// 폰트 사이즈
$h1: 2.4rem;
$h2: 2rem;
$h3: 1.6rem;
$h4: 1.4rem;

$p0: 1.6rem;
$p1: 1.4rem;
$p2: 1.3rem;
$p3: 1.2rem;
$p4: 1rem;

// 폰트 두께
$fw-200: 200; // ExtraLight
$fw-300: 300; // Light : default
$fw-400: 400; // Regular
$fw-500: 500; // Medium
$fw-600: 600;

// 색
$white: #ffffff;
$drawer: #b47a50;
$drawer-inner: #f3eae3;
$refrigerator: #e1e1e1;
$refrigerator-door: #d9d9d9;
$refrigerator-inner: #f7f7f7;
$tabbar-bg: #f9f9f9;

$black-100: #d3d3d3;
$black-200: #a7a7a7;
$black-300: #7a7a7a;
$black-400: #4e4e4e;
$black-500: #222222;
$black-600: #1b1b1b;
$black-700: #141414;
$black-800: #0e0e0e;
$black-900: #070707;

$danger: #ff4f4f;
$danger-add: #ffb2b2;

$primary-green-100: #e5fff6;
$primary-green-200: #8dd7be;
$primary-green-300: #76c7ac;
$primary-green-400: #48b590;
$primary-green-500: #1aa274;
$primary-green-600: #0c9566;

$primary-orange-400: #ffdca6;
$primary-orange-500: #ffa112;
$primary-orange-600: #ff8a00;

$primary-yellow-400: #fff2b7;
$primary-yellow-500: #ffde1a;
$primary-yellow-600: #ffd600;

$border-100: #f7f7f7;
$border-200: #f0f0f0;
$border-300: #e8e8e8;
$border-400: #e1e1e1;
$border-500: #d9d9d9;
$border-600: #aeaeae;
$border-700: #828282;
$border-800: #575757;
$border-900: #2b2b2b;

$black-alpa-20: rgba(34, 34, 34, 0.2);
$black-alpa-30: rgba(34, 34, 34, 0.3);
$black-alpa-40: rgba(34, 34, 34, 0.4);
$black-alpa-50: rgba(34, 34, 34, 0.5);
$black-alpa-60: rgba(34, 34, 34, 0.6);

$primary-green-alpa-20: rgba(26, 162, 116, 0.2);
$primary-green-alpa-30: rgba(26, 162, 116, 0.3);
$primary-green-alpa-40: rgba(26, 162, 116, 0.4);
$primary-green-alpa-50: rgba(26, 162, 116, 0.5);
$primary-green-alpa-60: rgba(26, 162, 116, 0.6);

$danger-alpa-20: rgba(255, 79, 79, 0.2);
$danger-alpa-30: rgba(255, 79, 79, 0.3);
$danger-alpa-40: rgba(255, 79, 79, 0.4);
$danger-alpa-50: rgba(255, 79, 79, 0.5);
$danger-alpa-60: rgba(255, 79, 79, 0.6);

// radius

// margin

// padding

// 레벨
$has-photo-z-index: 1;
$tabbar-z-index: 1000;
$camera-btn-container-z-index: 1000;
$custom-bottom-sheet-container-z-index: 1100;

$loading-spinner-container-z-index: 2000;
$receipt-list-conatiner-z-index: 2001;

$react-confirm-alert-overlay-z-index: 9999;
