@use 'styles/base/variable.scss' as var;
@use 'styles/mixins/flex.scss' as f;

.chart-box {
	width: 150px;
	height: 150px;
	position: relative;
}

.text-box {
	@include f.flex(column, center, center, 8px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	.carolie-title {
		font-size: var.$p3;
	}

	.carolie-value {
		font-size: var.$h3;
	}

	.carlorie-percentage {
		color: var.$primary-orange-500;
		font-size: var.$h1;
	}
}

.calorie-text {
	color: var.$black-400;
	font-weight: var.$fw-500;
}
